---

---

<div id="container" class="min-h-screen">
	<main class="container mx-auto py-16 md:pt-32 px-4 max-w-2xl">
        <section class="mb-8">
            <a href="/">&lt; Back Home</a>
        </section>
		<section>
			<h1 class="text-2xl font-bold mb-1">Matus Lukac</h1>
			<p class="text opacity-55">Curriculum Vitae</p>
		</section>
        <section class="mt-4"> 
            <p>I’m a web developer currently based in Lisbon, Portugal, originally from Slovakia. At the moment I’m working as a Marketing Web Developer at Iterable, where I’m responsible for the marketing websites.</p>
        </section>
        
	</main>
</div>