---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container" class="min-h-screen">
	<main class="container mx-auto py-16 md:pt-32 px-4 max-w-2xl">
		<section>
			<h1 class="text-2xl font-bold mb-1">
				Hi, I'm Matus
			</h1>
			<p class="text opacity-55">It's pronounced Matoosh</p>
		</section>
		<section class="mt-6">
			<p>I'm a <strong>Marketing Web Dev</strong> and tech enthusiast based in Lisbon, currently focused on managing the marketing websites at Iterable. My passion for technology extends beyond my 9-to-5, as I'm always building.</p>
			<p class="mt-3">Whether I'm tinkering with a personal side project or leveraging my skills to help a local non-profit, I love seeing ideas come to life through code. When I'm not at my keyboard, I can often be found on the badminton court or tending to my growing collection of houseplants. Always open to new connections.</p>
		</section>
		<section class="mt-8">
			<ul class="flex gap-6">
				<li><a href="https://x.com/matus_lukac" target="_blank" class="underline">X↗</a></li>
				<li><a href="https://github.com/m4sterbuild3r" target="_blank" class="underline">Github↗</a></li>
			</ul>
		</section>
	</main>
</div>