---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		<meta property="og:type" content="website">
		<meta property="og:title" content="Matus Lukac">
		<meta property="og:description" content="Marketing Web Dev and tech enthusiast based in Lisbon.">
		<meta property="og:image" content="/assets/favicon.svg">
		<meta property="og:url" content="https://matuslukac.com">
		<meta property="og:site_name" content="Matus Lukac">
		<meta property="og:locale" content="en_US">
		<meta name="description" content="Web developer, tech enthusiast, builder. Welcome to my personal website 🤗.">
		<meta name="twitter:site" content="@matus_lukac">
		<meta name="twitter:creator" content="@matus_lukac">
		<title>Matus Lukac</title>
	</head>
	<body>
		<slot />
		<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
